[Unit]
Description=Run cfspeed alerter every minute

[Timer]
OnCalendar=*:*:00
RandomizedDelaySec=15
Persistent=true

[Install]
WantedBy=timers.target
